<!DOCTYPE html>
<html ng-app="interactiveMapApp">
	<head>
		<title>Interactive Map</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script type="text/javascript" src="js/states-object.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
		<link rel="icon" href="img/wblogo.png">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WMXTPNB');</script>
<!-- End Google Tag Manager -->
<!-- Google Analytics Code  -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101082368-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End Google Analytics -->
	</head>
	<body ng-controller="interactiveMapController">
		
		<div id="wrapper">
		<div id="message"></div>
			<div id="vote-bar-wrapper">
				<div class="arrow top"></div>
				<div class="arrow bottom"></div>
				<h3 class="blue">Democrat</h3>
				<h3 class="red">Republican</h3>
				<div id="color-bar">
					<div id="blue-bar" class="bar blue-bar" ng-style="{'width':blueWidth}">{{blueStateVotes}}</div>
					<div id="open-bar" class="bar open-bar" ng-style="{'width':openWidth}">{{openStateVotes}}</div>
					<div id="red-bar" class="bar red-bar" ng-style="{'width':redWidth}">{{redStateVotes}}</div>
				</div>
			</div>
			
			<div id="map-wrapper">
				<svg width="750" height="500">
					<g ng-repeat="state in states | filter: isSmall = false" ng-click="stateClicked(state)">
					<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
					<foreignObject ng-attr-x="{{state.nameX}}" ng-attr-y="{{state.nameY}}">
					<div class="state-info">
						{{state.abbr}}<br />{{state.electoralVotes}}
					</div>
					</foreignObject>
				</g>
				<g ng-repeat="state in states | filter: isSmall = true" ng-click="stateClicked(state)">
				<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
			</g>
			<table>
				<tr ng-repeat="state in states | filter: isSmall = true" ng-click="stateClicked(state)">
					<td class="state {{state.stateColor}}">{{state.electoralVotes}}</td>
					<td>{{state.abbr}}</td>
				</tr>
			</table>
		</svg>
	</div>
	<button class="btn btn-default" ng-click="reset()">Reset Map</button>

	
</div>
</body>
</html>
